{% extends "base.html" %}

  {% block content %}

    <table >
      <div class="content_list">
        <thead>
          <tr>
            <th>Nit</th>
            <th>Empresa</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Fax</th>
            <th>Correo Empresa</th>
            <th>Nombre Contacto</th>
            <th>Apellido Contacto</th>
            <th>Teléfono Contacto</th>
            <th>Correo Contacto</th>
          </tr>
        </thead>
        <tbody>
          {% for proveedor in object_list %}
            <tr>
              <td>{{ proveedor.nit }}</td>
              <td>{{ proveedor.nombre_empresa }}</td>
              <td>{{ proveedor.direccion }}</td>
              <td>{{ proveedor.telefono }}</td>
              <td>{{ proveedor.fax }}</td>
              <td>{{ proveedor.correo_empresa }}</td>
              <td>{{ proveedor.nombre_contacto }}</td>
              <td>{{ proveedor.apellido_contacto }}</td>
              <td>{{ proveedor.telefono_contacto }}</td>
              <td>{{ proveedor.correo_contacto }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endblock %}
